.navOccupy {
  width: 100%;
  height: 0.8rem;
}
.navWrap {
  width: 100%;
  height: 0.8rem;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  .navContent {
    width: 14.4rem;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;

    .navLeft {
      flex: 1;
      display: flex;
      justify-content: space-between;

      .logoTxtBox {
        display: flex;
        flex-direction: row;
        align-items: center;

        .logoTxt {
          width: 0.4rem;
          height: 0.4rem;
          margin-right: 0.1rem;
        }

        span {
          font-size: 0.28rem;
          font-weight: 600;
          color: #FFFFFF;
        }
      }
    }
  }
}

.navBox {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;

  .navItem, .navItemActive {
    height: 100%;
    padding: 0.2rem 0.25rem;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 0.18rem;
    color: rgba(255, 255, 255, 0.6);

    .navItemLabel {
      padding: 0.04rem 0.1rem;
      word-break: keep-all;
      min-width: 1rem;
      text-align: center;
    }

    &:hover {
      color: $theme_color;
      font-weight: 500;
    }

    &:hover .navItemLabel {
      background-color: rgba(255, 255, 255, 0.08);
      border-radius: 0.03rem;
    }
  }

  .navItemActive {
    color: $theme_color;
    font-weight: 500;
  }
}

.navItemIcon {
  width: 0.12rem;
  height: 0.12rem;
  margin-left: 0.08rem;
  transition: all 0.3s;
}

.language {
  margin-left: 0.25rem;
  height: 0.8rem;
  padding: 0.23rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  position: relative;

  :global {
    .adm-popover {
      top: 0.5rem;
      width: 1.2rem;
    }

    .adm-popover-inner {
      padding: 0.12rem 0;
      border-radius: 4px;
      width: 1.66rem;
      background: #292929;
    }
    .adm-popover-arrow {
      color: #292929 !important;
    }

    .adm-popover-menu-item {
      padding-left: 0;
    }

    .adm-popover-menu-item-text {
      width: 100%;
      height: 0.36rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.14rem;
      font-weight: 400;
      color: rgba(255,255,255,0.9);
      transition: all .3s;
      padding: 0;

      &:hover {
        color: $theme_color;
      }
    }
    .adm-popover-menu-item:active:not(.adm-popover-menu-item-disabled) {
      background-color: transparent;
      &:after {
        display: none;
      }
    }
  }

  .languageBox, .languageBoxActive {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0.04rem 0.1rem;
    border-radius: 0.03rem;
    min-width: 1.2rem;

    .navItemTxt {
      font-size: 0.18rem;
      font-weight: 400;
      color: rgba(255,255,255,0.6);
      user-select: none;
    }
  }

  .languageBoxActive {
    background-color: rgba(255,255,255,0.08);

    .navItemTxt {
      color: $theme_color;
      font-weight: 500;
    }
  }
}
