.swiperWrap {
  padding: 0.2rem 0 0.6rem;

  .swiperBox {
    height: 4.6rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    grid-gap: 0.2rem;

    .leftCard {
      width: 8.92rem;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      background-color: rgba(255, 255, 255, 0.08);
      border-radius: 0.04rem;
      overflow: hidden;

      .leftCardImg {
        flex-shrink: 0;
        width: 3.45rem;
        height: 4.6rem;
      }


      .leftCardContent {
        padding: 0.2rem 0.2rem 0.28rem;
        height: 4.6rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;

        .leftCardContentTop {

          h2 {
            font-size: 0.24rem;
            font-weight: 500;
            color: rgba(255, 255, 255, 0.9);
            line-height: 0.32rem;
            margin-bottom: 0.2rem;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            word-wrap: break-word;
          }

          .viewCount {
            font-size: 0.14rem;
            font-weight: 400;
            color: rgba(255, 255, 255, 0.9);
            line-height: 0.2rem;
            margin-bottom: 0.2rem;
          }

          .intro {
            font-size: 0.14rem;
            font-weight: 400;
            color: rgba(255, 255, 255, 0.4);
            line-height: 0.2rem;
          }
        }

        .leftCardContentBottom {
          font-size: 0.12rem;
          font-weight: 400;
          color: rgba(255, 255, 255, 0.4);
          grid-gap: 0.08rem;
          display: flex;

          .leftTag {
            border-radius: 0.03rem;
            padding: 0.04rem 0.1rem;
            background-color: rgba(255, 255, 255, 0.08);
          }
        }
      }

    }

    .rightCard {
      display: flex;
      flex-direction: column;
      grid-gap: 0.2rem;

      .rightCardItem {
        width: 5.28rem;
        height: 2.2rem;
        background-color: rgba(255,255,255,0.08);
        border-radius: 0.04rem;
        overflow: hidden;
        display: flex;
        flex-direction: row;

        .rightCardItemImg {
          width: 1.65rem;
          height: 2.2rem;
          flex-shrink: 0;
        }

        .rightCardContent {
          padding: 0.2rem 0.2rem 0.2rem 0.16rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex: 1;

          .rightCardContentTop {
            .bookName {
              font-size: 0.24rem;
              font-weight: 500;
              color: rgba(255,255,255,0.9);
              line-height: 0.32rem;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              word-wrap: break-word;
              margin-bottom: 0.08rem;
            }
            .viewCount {
              font-size: 0.14rem;
              font-weight: 400;
              color: rgba(255,255,255,0.9);
              line-height: 0.2rem;
              margin-bottom: 0.08rem;
            }
            .intro {
              font-size: 0.14rem;
              font-weight: 400;
              color: rgba(255,255,255,0.4);
              line-height: 0.2rem;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              word-wrap: break-word;
            }
          }

          .rightCardContentBottom {
            font-size: 0.12rem;
            font-weight: 400;
            color: rgba(255, 255, 255, 0.4);
            grid-gap: 0.08rem;
            display: flex;

            .rightTag {
              border-radius: 0.03rem;
              padding: 0.04rem 0.1rem;
              background-color: rgba(255, 255, 255, 0.08);
            }
          }

        }
      }

    }
  }

}


