.rateBox {
  width: 1.04rem;
  height: 0.16rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-right: 0.08rem;
}

.rateItem {
  width: 0.16rem;
  height: 0.16rem;
}
