.actionSheetTitleBox {
  font-family: Roboto-Regular, Roboto;
  height: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .actionSheetTitle {
    font-size: 0.32rem;
    font-weight: bold;
    color: #2A2A2A;
    line-height: 0.38rem;
    text-align: center;
  }

  .asClose {
    position: absolute !important;
    right: 0.48rem;
    top: 0.32rem;
    width: 0.5rem;
    height: 0.5rem;
  }
}

.headerContent {
  font-family: Roboto-Regular, Roboto;
  height: 0.88rem;
  position: relative;
  background: linear-gradient(135deg, #00BA10 0%, #00880C 100%);
  padding: 0 0.32rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .navMenuIcon {
    width: 0.48rem;
    height: 0.48rem;
  }

  .rightBox {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 1.8rem;

    .searchTop {
      padding: 0.18rem 0;

      .searchTopIcon {
        width: 0.48rem;
        height: 0.48rem;
      }
    }

    .languageIcon {
      margin: 0 0.04rem 0 0.4rem;
      width: 0.48rem;
      height: 0.48rem;
    }

    span {
      margin-left: 0.04rem;
      font-size: 0.28rem;
      font-weight: 500;
      color: #FFFFFF;
      text-transform: uppercase;
      font-family: Roboto-Medium, Roboto;
    }
  }
}

.logoBox {
  position: absolute !important;
  left: calc(50% - 1.2rem);
  top: 0.16rem;
  z-index: 9;
  height: 0.54rem;
  display: flex;
  align-items: center;
  flex-direction: row;

  span {
    margin-left: 0.16rem;
    font-size: 0.32rem;
    font-weight: bold;
    color: #FFFFFF;
    font-family: Roboto-Bold, Roboto;
  }

  .appIcon {
    width: 0.54rem;
    height: 0.54rem;
  }
}

.homeTab {
  height: 0.8rem;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  align-items: center;

  .homeTabItem, .homeTabItemActive {
    font-size: 0.32rem;
    color: rgba(0, 0, 0, 0.7);
    padding: 0 0.32rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: Roboto-Regular, Roboto;
  }

  .homeTabItemActive {
    font-family: Roboto-Medium, Roboto;
    color: $theme_color;
    font-weight: 500;
  }
}
