/*The easiest way to avoid showing invisible text while custom fonts load is to temporarily show a system font.
By including font-display: swap in your @font-face style, you can avoid FOIT in most modern browsers:*/
/*Ubuntu*/
@font-face {
  font-family: 'Ubuntu';
  src: url(./Ubuntu/Ubuntu-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu-Regular';
  src: url(./Ubuntu/Ubuntu-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu-Bold';
  src: url(./Ubuntu/Ubuntu-Bold.ttf);
  font-display: swap;
}

/*Roboto*/
@font-face {
  font-family: 'Roboto';
  src: url(./Roboto/Roboto-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url(./Roboto/Roboto-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url(./Roboto/Roboto-Medium.ttf);
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url(./Roboto/Roboto-Bold.ttf);
  font-display: swap;
}
