.container {
  background-color: rgba(244, 246, 248, 1);
  min-height: 100vh;
  padding-bottom: 1.7rem;
  font-family: Roboto-Regular, Roboto;
}

.mainContent {
  padding: 0 0.32rem;
}

.itemWrap {
  width: 100%;
  border-radius: 0.16rem;
  background-color: #FFFFFF;
  margin-top: 0.48rem;
  padding: 0 0.32rem;
  overflow: hidden;
}

.noMore {
  margin-top: 0.2rem;
  width: 100%;
  text-align: center;
  color: lightgray;
  font-size: 0.32rem;
  font-weight: 400;
  padding-bottom: 1.6rem;
}

.mainContentEmpty {
  width: 100%;
  background-color: #FFFFFF;
  padding-top: 2rem;
  height: calc(100vh - 0.88rem);
}

.emptyImg {
  width: 1.8rem;
  height: 1.32rem;
  margin: 0 auto;
}

.emptyIntro {
  font-size: 0.28rem;
  font-weight: 400;
  color: #2F3031;
  line-height: 0.42rem;
  text-align: center;
  margin: 0.32rem auto 0.56rem;
  opacity: 0.7;
  font-family: Roboto-Regular, Roboto;
}
