.container {
  background-color: #000000;
  min-height: 100vh;
}

.mainContent {
  padding: 0 0.32rem 0.48rem;

}

.mainContentEmpty {
  width: 100%;
  background-color: #FFFFFF;
  padding-top: 2rem;
  height: calc(100vh - 0.88rem);
}

.emptyImg {
  width: 1.8rem;
  height: 1.32rem;
  margin: 0 auto;
}

.emptyIntro {
  font-size: 0.28rem;
  font-weight: 400;
  color: #2F3031;
  line-height: 0.42rem;
  text-align: center;
  margin: 0.32rem auto 0.56rem;
  opacity: 0.7;
  font-family: Roboto-Regular, Roboto;
}
