.aboutWrap {
  background-color: #FFFFFF;
  min-height: calc(100vh - 2rem);
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Ubuntu-Regular, Ubuntu;

  .aboutHeader {
    height: 5.4rem;
    position: relative;
    min-width: 100%;
    background: linear-gradient(135deg, #00BA10 0%, #00880C 100%);

    .aboutHeaderBg {
      width: 16rem;
      height: 4.56rem;
      margin: 0 auto;
    }
  }
}


.aboutHeaderInter {
  position: absolute;
  z-index: 9;
  top: 0.84rem;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
  font-size: 0.22rem;
  font-weight: 600;
  color: #333333;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: Ubuntu-Bold, Ubuntu;
}

.line {
  position: absolute;
  top: 1.1rem;
  left: 3.85rem;
  width: 0.3rem;
  height: 0.02rem;
  background-color: $theme_color;
}

.aboutHeaderInter2 {
  position: relative;
  padding: 0.6rem 0.8rem;
  background-color: #FFFFFF;
  border-radius: 0.04rem;
  width: 8.3rem;
  opacity: 0.8;
  font-size: 0;
  text-align: center;
}

.aboutHeaderInter2 p {
  font-size: 0.16rem;
  font-weight: 400;
  color: #545862;
  line-height: 0.28rem;
  white-space: pre-wrap;
  font-family: Ubuntu-Regular, Ubuntu;
}


.storeBox {
  width: 100%;
  min-height: 2.78rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  justify-content: center;
}

.qrCode {
  width: 1rem !important;
  height: 1rem !important;
  margin-bottom: 0.1rem;
  border: 0.01rem solid #DBDBDB;
  padding: 0.02rem;
  border-radius: 0.03rem;
}

.storeTitle {
  margin: 0.4rem 0 0.16rem 0;
  font-size: 0.16rem;
  font-weight: 400;
  color: $theme_color;
  font-family: Ubuntu-Regular, Ubuntu;
}

.copyTxt {
  margin: 0.11rem 0 0.08rem 0;
  font-size: 0.12rem;
  font-weight: 400;
  color: #333333;
  opacity: 0.8;
  text-align: center;
  font-family: Ubuntu-Regular, Ubuntu;
}

.clickToCopy {
  font-size: 0.12rem;
  font-weight: 400;
  color: $theme_color;
  text-decoration: underline;
  cursor: pointer;
  font-family: Ubuntu-Regular, Ubuntu;
}
