// dramabox
$theme_color: #00880C;
$pc_nav_bg_100: #FFFFFF;
$pc_nav_bg_0: #FFFFFF;
$pc_footer_bg: #0F0500;
$pc_active_bg: #DCF1DE;


.adm-page-indicator {
  --active-dot-color: #00880C !important;
  --dot-color: #A4E2A9 !important;
  --dot-border-radius: 50% !important;
  --active-dot-border-radius: 50% !important;
}
