.termsWrap {
  background-color: #f5f7f9;

  .termsBox {
    width: 8.54rem;
    margin: 0 auto;

    .termsTitle {
      font-size: 0.32rem;
      font-weight: 700;
      color: #57677f;
      padding: 0.2rem 0;
    }
  }

  .termsContent {
    background-color: #fff;
    border: 0.01rem solid rgba(0, 0, 0, .05);
    border-radius: 0.02rem;
    width: 100%;
    padding: 0.4rem 0.5rem;
    font-size: 0.18rem;
    color: #3a4a5a;
    line-height: 0.3rem;
    white-space: pre-wrap;
    font-weight: 700;
  }
}


.mTermsWrap {
  padding: 0.32rem;

  .mTermsTitle {
    font-size: 0.38rem;
    font-weight: 500;
    color: rgba(255,255,255,0.9);
    line-height: 0.53rem;
    margin-bottom: 0.24rem;
    text-align: center;
  }

  .mTermsInfo {
    font-size: 0.28rem;
    line-height: 0.44rem;
    white-space: pre-wrap;
    font-weight: 400;
    color: rgba(255,255,255,0.4);
  }
}
