.aboutWrap {
  background-color: #EBFFED;
  padding-top: 0.88rem;

  .aboutContent {
    position: relative;
    height: calc(100vh - 0.88rem);
    padding: 0.32rem 0.24rem;
    background-color: #EBFFED;
  }
}

.aboutHeaderBg1 {
  position: absolute !important;
  top: 0.88rem;
  right: 0;
  width: 2.26rem;
  height: 3.4rem;
}

.aboutHeaderBg2 {
  position: absolute !important;
  bottom: 1.9rem;
  left: 0;
  width: 2.2rem;
  height: 3.4rem;
}


.aboutHeader {
  position: relative;
  z-index: 9;
  padding: 0.48rem 0.32rem;
  background-color: #FFFFFFE6;
  border-radius: 0.16rem;
  font-size: 0;

  .title {
    font-size: 0.36rem;
    font-weight: 600;
    color: #2F3031;
    margin: 0 0 0.24rem;
    font-family: Roboto-Bold, Roboto;
  }

  p {
    font-size: 0.3rem;
    font-weight: 400;
    color: #2F3031;
    line-height: 0.44rem;
    margin-bottom: 0.24rem;
    white-space: pre-wrap;
    font-family: Roboto-Regular, Roboto;
  }
}



